<!DOCTYPE html>
<html lang="en">
    <head>
        <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
        <script>
            window.TrackJS && TrackJS.install({ 
            token: '<%=htmlWebpackPlugin.options.trackJSToken%>'
            });
        </script>
        <% } %>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <thead>
                <th>Id</th>
                <th>First Name</th>
                <th>Surname</th>
            </thead>
            <!-- insertusers is tag for node to replace with content-->
            <tbody id="insertusers"></tbody>
        </table>
    </body>
</html>
